.userpage img {
    max-height: 250px;
    max-width: 250px;
    height: 20%;
    aspect-ratio: 1/1;
    object-fit:cover;
    object-position: 50% 50%;
    clip-path: circle(47%);
 
}
.userpage ul {
    list-style-type: none;
    max-width: 320px;
    width: 80%;
    min-width: 220px;
    padding-left: 0px;
}
.userpage li {
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    border: 1px solid lightgray;
    border-radius: 7px;
    font-size: medium;
    font-family: sans-serif;
    color: dimgray;
    
}
.userpage .content {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.userpage .container {
    border: 5px solid #cedcf2;
    border-radius: 20px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    width: 27%;
    min-width: 300px;
    background-color: white;
}

.userpage dialog {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0rem;
    padding: 0rem;
}

.userpage dialog[open] {
    animation: fade-in 1000ms forwards;
    background: rgba(0,0,0,0.3);
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.userpage .close
{
    width: 90%;
    padding:1rem 2rem;
    font-size: 50px;
    font-family: sans-serif;
}