.dropdown-row a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size:small;
    margin-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right:0;
    left:auto;
    padding:0.5rem;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
}

.dropdown-row {
    padding: 4px 16px;
    display: flex;
    align-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 7px;
}

.dropdown-row:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
